@model CodeBitesAcademyEFC.Models.EmployeeModel

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search</h1>

<h4>Search Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="post" asp-controller="Employee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" name="surname" id="surname" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
