@{
    ViewData["Title"] = "Product and Services";
    Layout = "_Layout";
}


    <div class="row container-fluid ProduAndService-banner mt-0">
        <div class="col-md-12">
            <div class="row mt-5">
                <div class="col-md-12 mb-5"></div>
                <div class="col-md-12 mb-5"></div>
                <div class="col-md-12 col-sm-12 text-xl-center text-danger mt-5">
                    <h3><span class="text-danger">Stay safe, Stay Active</span></h3>
                    <p><h1><b><span class="text-white">With Our Flexible Products</span></b></h1></p>
                    <input type="submit" value="More Products" class=" btn btn-danger purchase-Btn" />
                </div>
            </div>

        </div>
    </div>
    <section class=" bg-light">
        <div class="container">
            <div class="row  no-gutters">
                <div class="col-md-6 d-flex">
                    <div class=" d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(images/bj8.jpg);">
                        <img src="~/images2/about.jpg" />
                    </div>
                </div>
                <div class="col-md-6 pl-md-5 py-md-5 text-center">
                    <div class="heading-section pl-md-4 pt-md-5">
                        <h2 class=""><span class="text-danger text-right">OUR PRODUCTS</span></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><i class="fa fa-route fa-5x text-danger  fa-btn pt-3"></i></div>
                        <div class="col-md-9">
                            <div class="services-2 w-100 d-flex mt-2">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                                <div class="text pl-4 product-title">
                                    <h4 class="text-danger">Tariff Plans</h4>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><i class="fa fa-phone-square text-danger fa-5x  fa-btn pt-3"></i></div>
                        <div class="col-md-9">
                            <div class="services-2 w-100 d-flex mt-2">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                                <div class="text pl-4 product-title">
                                    <h4 class="text-danger">Mobile phone Services</h4>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><i class="fa fa-wifi text-danger fa-5x  fa-btn pt-3"></i></div>
                        <div class="col-md-9">
                            <div class="services-2 w-100 d-flex mt-2">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                                <div class="text pl-4 product-title">
                                    <h4 class="text-danger">Internet Services</h4>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3"><i class="fa fa-user-friends text-danger fa-5x  fa-btn pt-3"></i></div>
                        <div class="col-md-9">
                            <div class="services-2 w-100 d-flex mt-2">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                                <div class="text pl-4 product-title">
                                    <h4 class="text-danger"><a href="ProductAndServices/NewConnection">Corporate Bundles</a></h4>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><i class="fas fa-business-time text-danger fa-5x  fa-btn pt-3"></i></div>
                        <div class="col-md-9">
                            <div class="services-2 w-100 d-flex mt-2">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                                <div class="text pl-4 product-title">
                                    <h4 class="text-danger">Hosting Services</h4>
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section bg-light ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ">
                    <div class="d-block">
                        <div class="icon d-flex mr-2">
                            <span class="flaticon-accounting-1"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Wonderfull Community</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">
                        <div class="icon d-flex mr-2">
                            <span class="flaticon-tax"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading"> Kiddies &amp; Parents</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">
                        <div class="icon d-flex mr-2">
                            <span class="flaticon-loan"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Financial Services</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
                    <div class="d-block">
                        <div class="icon d-flex mr-2">
                            <span class="flaticon-budget"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Growth &amp; Mobile Funding Access</h3>
                            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
       
    <div class="row jumbotron">
        <div class="text-danger text-center col-md-12 col-sm-12"><h3>Our Connection</h3></div>
        <div class="col-md-2"></div>
        <div class="col-md-8 col-sm-12">
            <p><H5>The Allen Communication is committed to supporting future leaders all around the world. Through our free online Connection, we want to connect with as many aspirant leaders as we can and build an impressive global network of emerging policy leaders. </H5></p>
            <p><h5>In 2015 we launched our online community which now has tens of thousands of people registered from all around the world. Our online community is for anyone, anywhere in the world, we want to bring people together, offer free learning and support people to lead change around the world through policymaking.</h5></p>
            <p><h5>By being part of the Future Leaders Connect online community, you will receive emails which include: </h5></p>
           
              
                    <ol class="text-danger connection-list">

                        <li>Professional development resources by email </li>
                        <li>Access to online courses with UK universities </li>
                        <li>News about international opportunities and events</li>
                        <li>Exclusive access to hear from senior leaders </li>
                        <li>Latest articles and insight on intelligent policymaking </li>
                        <li>Leadership advice and guidance </li>

                    </ol>
               
           
            <p>Being part of the Future Leaders Connect online community means you will have access to a range of free policy and leadership professional development resources wherever you are in the world. </p>
            <p>“Thank you for the opportunity to learn what it takes to be an active policymaker and influence change in our communities, regions, national and even globally!” Ideas for a Better World course participant</p>

            <p>
                <a asp-controller="ProductAndServices" asp-action="NewConnection"> <input type="submit" value="Join Our Connection" class=" text-center btn btn-danger purchase-Btn" /></a>
               
        </div>
        
    </div>


        
   
