@model Allen.Models.DBcontext
@{
    ViewData["Title"] = "About Us";
    Layout = "_Layout";
}



<div class="row container-fluid AboutUs-banner mt-0">
    <div class="col-md-12">
        <div class="row mt-5">
            >
            <div class="col-md-12 col-sm-12 text-xl-center text-danger mt-5">
                <h3>Stay safe, Stay Connected</h3>
                <p><h1><b>With Our Flexible Data Plans</b></h1></p>
                <input type="submit" value="Purchase Plane" class=" btn btn-danger purchase-Btn" />
            </div>
        </div>

    </div>
</div>

<section class=" bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="col-md-6 d-flex">
                    <div class=" d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0">
                        <img src="~/images2/image_2.jpg" />

                    </div>
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pl-md-4 pt-md-5" style="background-color:#ffffff; border-radius:12px; opacity:0.6; font-weight:bold">
                    <h3> <span class="subheading">We are Allen Communications</span></h3>
                    <h2 class="mb-4">We Are the Best TeleCom Company</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-counter bg-light ftco-no-pt" id="section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="text-danger">50</strong>
                    </div>
                    <div class="text">
                        <span>Years of Experienced</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text ">
                        <strong class="text-danger">500</strong>
                    </div>
                    <div class="text">
                        <span>Outlets</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="text-danger">356</strong>
                    </div>
                    <div class="text">
                        <span>Awards Won</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                    <div class="text">
                        <strong class="text-danger">700</strong>
                    </div>
                    <div class="text">
                        <span>Expert Consultants</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section testimony-section bg-light mt-3">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">

                <p><h2 class="text-danger" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">OUR CUSTOMERS &amp; EXPOSURES</h2></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4">
                        <div class="card">
                            "
                            <img src="~/images/banner2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">
                                    The internet means that we have a rather large community – the more the merrier! – and Allen Communication is committed to positively impacting everyone we can!

                                    Here’s some of the cool stuff we’re doing.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a href="#"><img src="images/workshop.jpg" class="img-fluid img " alt=""></a>
                    </div>
                    <div class="col-sm-6  col-md-8">
                        <h1>Workshops</h1>
                        <p class="text-dark">Digital platforms are constantly evolving and changing. We want everyone in our community to feel empowered online, which is why we offer interactive workshops with the latest available information on topics that are important to businesses of all sizes and industries. We invite you to come learn, ask questions and get answers!</p>
                        <div class="col-md-12">
                            <p><span class="text-center"><a href="#"><input type="submit" value="Check out our Event Calender" class="btn btn-danger"></span></a></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <a href="#"><img src="images/services.jpg" class="img-fluid img " alt=""></a>
                    </div>
                    <div class="col-sm-6  col-md-8">
                        <h1>Service</h1>
                        <p>We’re a company comprised of people who are passionate about more than web development and marketing. Check out some of the awesome things our company and our employees are doing.</p>
                        <div class="col-md-12">
                            <p><span class="text-center"><a href="#"><input type="submit" value="View Our Community Involvement" class="btn btn-danger"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<div class="container-fluid py-5">
    <div class="row">
        <div class="col-md-7 d-flex align-items-center">
            <h2 class="mb-3 mb-sm-0" style="color:black; font-size: 22px;">Sign Up  our Community</h2>
        </div>
        <div class="col-md-5 d-flex align-items-center">
            <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                    <input type="text" class="form-control" placeholder="Enter email address">
                    <input type="submit" value="Subscribe" class="submit px-3">
                </div>
            </form>
        </div>
    </div>
</div>



@if (ViewBag.StatesList != null)
{
    @Html.DropDownListFor(m => m.States.StateId, ViewBag.StatesList as SelectList, "-- Select State Name", new { @class = "form-control" })
    @*@Html.DropDownListFor(m => m.Outlets.Id, new SelectList(""), "-- Select Address", new { @class = "form-control" })*@
}

