@model Allen.Models.Customer
@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}




<div class="row container-fluid contactUs-banner mt-0">
    <div class="col-md-12">
        <div class="row mt-5">

            <div class="col-md-12 col-sm-12 text-xl-center text-danger mt-5">
                <h3>Stay safe, Stay Connected</h3>
                <p><h1><b>With Our Flexible Data Plans</b></h1></p>
                <input type="submit" value="Purchase Plane" class=" btn btn-danger purchase-Btn" />
            </div>
        </div>

    </div>
</div>
<section class="container-fluid">

    <div class="row">
        <div class="col-md-4">


            <div class="col-lg-12 col-md-12 col-sm-12  pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
                    <p><h2 class="mt-2"><span class="text-danger">List Branches</span></h2></p>

                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header p-0" id="headingOne">
                            <h2 class="mb-0">
                                <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                    <p class="mb-0"><span class="text-danger">Abuja</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>No 5 Mutala Mohamed way, Garki</li>
                                    <li>Kilometer 13 Area 2, Wuse</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                    <p class="mb-0"><span class="text-danger">Enugu</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>

                                    <li>No 123 Gargen Avenue, Enugu</li>
                                    <li>No 71 Agbani Road, Gariki</li>
                                    <li>No 6 Ibiam Street New heaven Enug</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0"><span class="text-danger">Cross River</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>No 12 Effiong Street, calabar</li>
                                    <li>KM 12 Eyo Ekpo close, Okoja</li>
                                    <li>No 81 Okon Street, Calabar</li>

                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0"><span class="text-danger">Kano</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>No 12 Musa Bello Road, Kano</li>
                                    <li>No 71 Amadu Belo wae, Kano</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                    <p class="mb-0"><span class="text-danger">Rivers</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <ol>
                                    <li>No 12 Gargen Avenue, PortHarcourt</li>
                                    <li>N0 5 Rumola close,PortHarcourt </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                            <h2 class="mb-0">
                                <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                    <p class="mb-0"><span class="text-danger">What are those requirements for businesses?</span></p>
                                    <i class="fa" aria-hidden="true"></i>
                                </button>
                            </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="card-body py-3 px-0">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 d-flex">

            <div class="row justify-content-center bg-light mt-2 mb-0">
                <div class="col-md-12 wrapper">

                    <div class="row no-gutters">
                        <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <div></div>
                                <h3 class="mb-4">Register a complain on </h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    feedBack Section!
                                </div>
                                <form method="POST" id="contactForm" asp-controller="ContactUs" asp-action="ContactUS"
                                      name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="FullName"></label>
                                                <input asp-for="FullName" class="form-control" placeholder=" Enter Your Full Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="Email"></label>
                                                <input asp-for="Email" class="form-control" placeholder=" Enter your Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="Product"></label>
                                                <select asp-for="Product" class="form-control" asp-items="Html.GetEnumSelectList<Product>()"><option selected="selected" value="Select Product">...Select Product.....</option></select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Complaint</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Write Your Complaints"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Submit Complaint" class="btn btn-danger">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5 d-flex bg-danger align-items-stretch">
                            <div class="info-wrap bg-danger w-100 p-md-5 p-4">
                                <h4>Let's get in touch</h4>
                                <p class="mb-4">
                                    Feel free to Contact Us
                                </p>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p>
                                            <span>Address:</span> 12 Ziks Avenue, Suite 401 Enugu Nigeria
                                        </p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-

center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p>
                                            <span>Phone:</span> <a href="tel://1234567920">
                                                o8o37620380
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-

center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p>
                                            <span>Email:</span> <a href="mailto:info@yoursite.com">customerservice@Allen.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-

center">
                                        <span class="fa fa-globe"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Website</span> <a href="#">WWW.Allen.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

@*
@if (ViewBag.StatesList != null)
{
    @Html.DropDownListFor(m => m.States.StateId, ViewBag.StatesList as SelectList, "-- Select State Name", new { @class = "form-control" })
    @Html.DropDownListFor(m => m.Outlets.Id, new SelectList(""), "-- Select Address", new { @class = "form-control" })
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("StateId").change(function () {
            var stateId = $(this).val();
            debugger
            $.ajax({
                type: "post",
                url: "/AboutUs/GetAllOutLets?StateId=" + stateId,
                contenType: "html",
                success: function (response) {

                    $("Id").empty();
                    debugger
                    $("Id").append(response);
                }



            })

        })
    })


</script>*@