@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="container-fluid home-banner mt-0">
    
        <div class="row">
            <div class="col-md-12 mb-5"></div>
            <div class="col-md-12 mb-5"></div>
            <div class="col-md-12 mb-5"></div>
            <div class="col-md-12 col-sm-12 text-xl-center text-danger mt-5">
                <h3>Stay safe, Stay Connected</h3>
                <p><h1><b>With Our Flexible Data Plans</b></h1></p>
                <input type="submit" value="Purchase Plan" class=" btn btn-danger purchase-Btn" />
            </div>
        </div>

   
</div>

<section class="container mt-5">
    <div class="row row-cols-1 row-col-md-3 col-sm-12 img-card">
        <div class="col mb-3 text-center">
            <div class="card h-100">
                <i class="fa fa-sitemap fa-5x fa-btn text-danger pt-3 "></i>
                <div class="card-body">
                    <h5 class="card-title"><span class="card-title"></span>Data Plans</h5>
                    <p class="card-text">Our digital strategists dive into your business analytics to put together strategies for reaching your business goals.</p>
                    <h5 class="card-title"><span class="card-title"></span><input type="submit" value="Learn More  >" class=" btn btn-danger business-Btn" /></h5>
                </div>
            </div>
        </div>
        <div class="col mb-3 text-center">
            <div class="card h-100">
                <i class="fas fa-mobile-alt fa-5x fa-btn text-danger pt-3 "></i>
                <div class="card-body">
                    <h5 class="card-title"><span class="card-title"></span> Tariff Plan</h5>
                    <p class="card-text">Our digital strategists dive into your business analytics to put together strategies for reaching your business goals.</p>
                    <h5 class="card-title"><span class="card-title"></span><input type="submit" value="Learn More  >" class=" btn btn-danger business-Btn" /></h5>
                </div>
            </div>
        </div>
        <div class="col mb-3 text-center">
            <div class="card h-100">
                <i class="fa fa-wifi fa-5x text-danger  fa-btn pt-3"></i>
                <div class="card-body">
                    <h5 class="card-title"><span class="card-title"></span>5G Services</h5>
                    <p class="card-text">Most web companies stop at building a website. We coordinate with you to continuously evolve your online presence..</p>
                    <h5 class="card-title"><span class="card-title"></span><input type="submit" value="Learn More  >" class=" btn btn-danger business-Btn" /></h5>
                </div>
            </div>
        </div>
        <div class="col mb-3 text-center">
            <div class="card h-100">
                <i class="fa fa-server fa-5x fa-btn text-danger pt-3"></i>
                <div class="card-body">
                    <h5 class="card-title"><span class="card-title"></span>Roaming</h5>
                    <p class="card-text">Save time and money. Avoid miscommunication and wasted resources in working with multiple tech companies.</p>
                    <h5 class="card-title"><span class="card-title"></span><input type="submit" value="Learn More  >" class=" btn btn-danger business-Btn" /></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div id="carouselExampleIndicators" class="carousel slide col-md-6" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <div class="img"><img class="d-block img-fluid" src="~/images/bj9.jpg" alt="First slide"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="img"><img class="d-block img-fluid" src="~/images/bj2.jpg" alt="Second slide"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="img"><img class="d-block img-fluid" src="~/images/bj7.jpg" alt="Third slide"></div>
                    </div>
                    <div class="carousel-item">
                        <div class="img"><img class="d-block img-fluid" src="~/images/bj4.jpg" alt="Third slide"></div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-md-3"></div>

        </div>


    </div>

</section>


    <div class="container mt-5">
        <div class="row justify-content-center pb-5 mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
               <h3><span class="subheading">News &amp; Blog</span></h3> 
                <h4  ><a href="#"><span class="text-dark">Latest news from our blog</span></a></h4>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/image_1.jpg');">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#"><h3>OUR VISION</h3></a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded" style="background-image: url('images/bg1.jpg');">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#"><h3>OUR MISSION</h3></a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>

                </div>
            </div>
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a href="blog-single.html" class="block-20 rounded Vision">
                    </a>
                    <div class="text p-4">
                        <div class="meta mb-2">
                            <div><a href="#"><h3>OUR GOAL</h3></a></div>
                            <div><a href="#">Admin</a></div>
                            <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>
                        </div>
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

