@{
    ViewData["Title"] = "FAQs";
    Layout = "_Layout";
}


<div class="row container-fluid faqs-banner mt-0">
    <div class="col-md-12">
        <div class="row mt-5">
            <div class="col-md-12 mb-5"></div>
            <div class="col-md-12 mb-5"></div>
           
            <div class="col-md-12 col-sm-12 text-xl-center text-danger mt-5">
                <h3>Stay safe, Stay Informed</h3>
                <p><h1><b>With Our FAQs Channel</b></h1></p>
               
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12  pl-lg-5">
        <div class="heading-section mb-5 mt-5 mt-lg-0">
            <h2 class="mb-3"><span class="text-danger">Frequently Asks Questions</span></h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
            <div class="card">
                <div class="card-header p-0" id="headingOne">
                    <h2 class="mb-0">
                        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                            <p class="mb-0"><span class="text-danger">What is the Rate of Our Tariff Plans</span></p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body py-3 px-0">
                        <ol>
                            <li>Far far away, behind the word mountains</li>
                            <li>Consonantia, there live the blind texts</li>
                            <li>When she reached the first hills of the Italic Mountains</li>
                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                            <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header p-0" id="headingTwo" role="tab">
                    <h2 class="mb-0">
                        <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                            <p class="mb-0"><span class="text-danger">How can i get Mobile loans?</span></p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ol>
                            <li>Far far away, behind the word mountains</li>
                            <li>Consonantia, there live the blind texts</li>
                            <li>When she reached the first hills of the Italic Mountains</li>
                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                            <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header p-0" id="headingThree" role="tab">
                    <h2 class="mb-0">
                        <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                            <p class="mb-0"><span class="text-danger">How to grow your investments funds?</span></p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <ol>
                            <li>Far far away, behind the word mountains</li>
                            <li>Consonantia, there live the blind texts</li>
                            <li>When she reached the first hills of the Italic Mountains</li>
                            <li>Bookmarksgrove, the headline of Alphabet Village</li>
                            <li>Separated they live in Bookmarksgrove right</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header p-0" id="headingFour" role="tab">
                    <h2 class="mb-0">
                        <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                            <p class="mb-0"><span class="text-danger">What are those requirements for businesses?</span></p>
                            <i class="fa" aria-hidden="true"></i>
                        </button>
                    </h2>
                </div>
                <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body py-3 px-0">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
      
            <div class=" col-md-6 col-sm-12 d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0">
                <img src="~/images2/about-2.jpg" />
            </div>


</div>
